.layout {
    display: flex;
  }
  
  .content {
    margin-left: 200px; // Offset main content by the navbar width
    width: calc(100% - 200px); // Adjust the width to fill remaining space
    padding: 20px;
  }