<div class="navbar-container">
  <!-- Link to Cart Page -->
  <div class="cart-status">
    <a routerLink="/cart">
      <span>0 Sản phẩm trong giỏ hàng</span>
    </a>
  </div>

  <!-- Category Sections -->
  <div class="category">
    <h3>Thẻ Cào</h3>
    <ul>
      <li><a routerLink="/products">Tất Cả</a></li>
      <li><a href="#">Viettel</a></li>
      <li><a href="#">Mobifone</a></li>
      <li><a href="#">Vinaphone</a></li>
    </ul>
  </div>
  <div class="category">
    <h3>Giải Trí</h3>
  </div>
</div>
