<div class="admin-container">
  <aside class="sidebar">
    <h2>Admin</h2>
    <nav>
      <ul>
        <li><a routerLink="/admin/dashboard">Dashboard</a></li>
        <li><a routerLink="/admin/user-management">Người dùng</a></li>
        <li><a routerLink="/admin/order-history">Lịch sử mua hàng</a></li>
        <li><a routerLink="/admin/statistics">Bảng Thống Kê</a></li>
        <li><a routerLink="/admin/content-management">Bài Chia Sẻ</a></li>
        <li><a routerLink="/admin/promotions-management">Quản lí ưu đãi</a></li>
        <li><a routerLink="/admin/customer-support">Hỗ trợ khách hàng</a></li>
        <li><a routerLink="/admin/footer-management">Footer</a></li>
        <li><a routerLink="/admin/advertising-management">Quảng cáo</a></li>
        <li><a routerLink="/admin/product-management">Quản lí sản phẩm</a></li>
      </ul>
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
