<div class="header-container">
  <div class="logo">
    <img src="#" alt="EazyCao Logo" />
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Tìm kiếm" />
    <button type="button">
      <i class="fas fa-search"></i> <!-- Biểu tượng kính lúp -->
    </button>
  </div>

  <div class="nav-links">
    <!-- Luôn hiển thị các liên kết -->
    <a [routerLink]="'/support'">Hỗ Trợ</a>
    <a [routerLink]="'/comm'">Liên Hệ</a>
    <a [routerLink]="'/blog'">Bài Đăng</a>

    <!-- Dropdown menu cho người dùng đã đăng nhập -->
    <ng-container *ngIf="isLoggedIn">
      <div class="user-dropdown" (click)="toggleDropdown()">
        <span>{{ userName }}</span>
        <i class="fas fa-caret-down"></i>
        <ul *ngIf="isDropdownVisible" class="dropdown-menu">
          <li><a [routerLink]="'/money'">
            <p><span>Số dư tài khoản</span></p>
            <p><strong class="account-balance">{{ userMoney * 1000 | currency: 'VND' }}</strong>
              <i class="fas fa-plus-square"  style="color: rgb(17, 193, 37); margin-left: 10px; font-size: 20px;"></i></p>
            </a>
          </li>
          <li><a [routerLink]="'/user'">Quản lý tài khoản</a></li>
          <li><a [routerLink]="'/orders'">Lịch sử đơn hàng</a></li>
          <li><a [routerLink]="'/fav'">Sản phẩm yêu thích</a></li>
          <li><a href="#" (click)="onLogout()">Đăng xuất</a></li>
        </ul>
      </div>
    </ng-container>
    
    <!-- Hiển thị liên kết đăng nhập nếu chưa đăng nhập -->
    <ng-container *ngIf="!isLoggedIn">
      <a [routerLink]="'/login'">Đăng Nhập</a>
    </ng-container>
  </div>
</div>

